.address {
  background-color: var(--footer-bcg);
  padding-top: 60px;
  padding-bottom: 60px;
  &-container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    @media screen and (min-width: 1200px) {
      justify-content: flex-start;
      align-items: baseline;
    }
  }
  &-informations {
    line-height: 1.71;
    font-style: normal;
  }
}

.left-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }
}

.company {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    padding-bottom: 0;
  }
  &__addres {
    color: var(--primary-white-color);
    text-decoration: none;
  }
  &__contacts {
    display: block;
    margin-top: 8px;
    color: var(--primary-white-color);
    text-decoration: none;
    transition-property: color;
    transition-duration: var(--primary-transition-duration);
    transition-timing-function: var(--primary-transition-timing-function);
    &:hover,
    &:focus {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}
